<app-header></app-header>
<section id="upcoming-events">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <h1>Upcoming Events</h1>
                <div class="container events">
                    <div class="card event-card">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action event">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">General Body Meeting</h5>
                                </div>
                                <p class="mb-1">Coverdell Auditoriium | 11/21/2019 | 7PM</p>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action event">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">UGA NSBE Bake Sale</h5>
                                </div>
                                <p class="mb-1">Tate Plaze | 11/21/2019 | 12PM</p>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action event">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Percentage Night</h5>
                                </div>
                                <p class="mb-1">Ben & Jerry's | 11/21/2019 | 7PM</p>
                            </a>
                            <div href="#" class="list-group-item list-group-item-action blank">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">&nbsp;</h5>
                                </div>
                                <p class="mb-1">&nbsp;</p>
                            </div>
                            <div href="#" class="list-group-item list-group-item-action blank">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">&nbsp;</h5>
                                </div>
                                <p class="mb-1">&nbsp;</p>
                            </div>
                            <div href="#" class="list-group-item list-group-item-action blank">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">&nbsp;</h5>
                                </div>
                                <p class="mb-1">&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 slides">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../../assets/img/IMG_9550.JPG" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="mission-words">
                <h1>Our Mission:</h1>
                <h2>"Increasing the number of culturally responsible black engineers who excel academically, succeed
                    professionally,
                    and positively impact the community"
                </h2>
            </div>
            <div>
                <h4>We are committed to the growth and development of each and every one of our members
                    as we continue to encourage them in their various STEM fields. This is an organization
                    that takes you on conferences, builds your resume, and gives you an amazing network of fellow STEM
                    majors. </h4>
            </div>
        </div>
    </div>
</section>