<div id="top"></div>
<app-nav></app-nav>
<app-header (signedIn)=signIn($event) (logout)=logout()></app-header>
<!-- listens for events emmited by header component, calls methods in home component if something is heard -->
<section id="upcoming-events">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 container events">
                <h3>UGA NSBE's Upcoming Events</h3>
                <div class="card event-card">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action event">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">General Body Meeting</h5>
                            </div>
                            <p class="mb-1">Coverdell Auditoriium | 11/21/2019 | 7PM</p>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action event">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">UGA NSBE Bake Sale</h5>
                            </div>
                            <p class="mb-1">Tate Plaze | 11/21/2019 | 12PM</p>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action event">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Percentage Night</h5>
                            </div>
                            <p class="mb-1">Ben & Jerry's | 11/21/2019 | 7PM</p>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action event">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">General Body Meeting</h5>
                            </div>
                            <p class="mb-1">Coverdell Auditoriium | 11/21/2019 | 7PM</p>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action event">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">UGA NSBE Bake Sale</h5>
                            </div>
                            <p class="mb-1">Tate Plaze | 11/21/2019 | 12PM</p>
                        </a>
                        <!-- <div href="#" class="list-group-item list-group-item-action blank">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">&nbsp;</h5>
                                </div>
                                <p class="mb-1">&nbsp;</p>
                            </div> -->
                    </div>
                </div>
                <a class="see-all" href="#">
                    <h4>See all Events</h4>
                </a>
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="mission-words">
                <h1>Our Mission:</h1>
                <h2>"Increasing the number of culturally responsible black engineers who excel academically, succeed
                    professionally,
                    and positively impact the community"
                </h2>
            </div>

            <div class="cards">
                <div class="">
                    <div class="row acc">
                        <div class="card-deck about-cards">
                            <div class="card about-card">
                                <h3 class="card-title">Academics</h3>
                                <div class="icon">
                                    <fa-icon [icon]="faGraduationCap"></fa-icon>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-text">
                                        Some quick example text to build on the card
                                        title and make up the bulk of the card's content.</h4>
                                </div>
                            </div>
                            <div class="card about-card">
                                <h3 class="card-title">Career</h3>
                                <div class="icon">
                                    <fa-icon [icon]="faBriefcase"></fa-icon>
                                </div>
                                <div class="card-body">

                                    <h4 class="card-text">Some quick example text to build on the card title and make
                                        up the
                                        bulk of the
                                        card's content.</h4>
                                </div>
                            </div>
                            <div class="card about-card">
                                <h3 class="card-title">Community</h3>
                                <div class="icon">
                                    <fa-icon [icon]="faHandsHelping"></fa-icon>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-text">Some quick example text to build on the card title and make up
                                        the bulk
                                        of the card's
                                        content.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="desc-pics">
    <div class="row desc-row justify-content-center align-items-center">
        <div class="col-md-4 desc">
            <h1>We want You!</h1>
            <h4>As a member of NSBE, you will become a member of
                an everlasting family that helps you thought the tough trials
                all engineering majors face. You will leave with an extensive network of peers
                that can benifit you for the rest of your career and beyond </h4>
            <button class="btn btn-lg btn-primary btn-block">Become a Member</button>
        </div>
        <div class="col-md-8 img-desc">
        </div>
    </div>
</section>
<section id="contact-us">
    <div class="row justify-content-center align-items-center contact-row">
        <div class="col-md-6 img-cont">
        </div>
        <div class="col-md-6 contact-form align-items-center">
            <h2>Leave us a Message!</h2>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="contact-fname">First Name</label>
                        <input type="text" class="form-control" id="contact-fname">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="contact-lname">Last Name</label>
                        <input type="text" class="form-control" id="contact-lname">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="contact-email">Email</label>
                        <input type="email" class="form-control" id="contact-email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="contact-phone">Phone</label>
                        <input type="tel" class="form-control" id="contact-phone">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="contact-phone">Message</label>
                        <textarea rows="6" class="form-control" id="message"></textarea>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <button type="submit" class="btn btn-primary sub-message">
                        <h5>Submit</h5>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<app-footer></app-footer>