<div class="header">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="row justify-content-center logo">
                    <img src="../../../assets/img/illegal.png">
                </div>
                <div class="row justify-content-center title">
                    <h1 class="display-2">National Society of Black Engineers</h1>
                </div>
                <div class="row justify-content-center title">
                    <h2 class="display-3">University of Georgia</h2>
                </div>
            </div>
            <div class="col-md-4 sign-in-wrapper">
                <div class="row justify-content-center dummy-row align-items-center">
                    <div class="user-hub sign-in">
                        <div class="row align-items-center">
                            <div class="sign-in-form">
                                <h2>Sign in</h2>
                                <p id="failedAttempt">Your username or password is incorrect</p>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control form-control-lg myId"
                                            placeholder="myId" [(ngModel)] = "myId">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control form-control-lg"
                                            placeholder="Password" [(ngModel)] = "password">
                                    </div>
                                </div>
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" value="remember-me"> Remember me for 2 weeks
                                    </label>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block sign-in-button" (click)="signIn()">Sign in</button>
                            </div>
                            <div class="divider"></div>
                            <div class="become-member">
                                <h3>Want to become a member?</h3>
                                <button class="btn btn-lg btn-primary btn-block find-out">Find out how</button>
                                <a (click)="logOut()" href="">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content-center explore" id="explore">
            <a href="#upcoming-events" class="bounce">
                <fa-icon [icon]="faArrowDown"></fa-icon>
            </a>
        </div>
    </div>
</div>