<div class="header">
    <app-nav></app-nav>
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <div class="row justify-content-center logo">
                <img src="../../../assets/img/illegal.png">
            </div>
            <div class="row justify-content-center title">
                <h1 class="display-2">National Society of Black Engineers</h1>
            </div>
            <div class="row justify-content-center title">
                <h2 class="display-3">University of Georgia</h2>
            </div>
            <div class="row justify-content-center explore">
                <button type="button" class="btn btn-outline-light">
                    <h3>Explore</h3>
                </button>
            </div>
        </div>
    </div>
</div>