.nsbe-nav{

  }
  
.nsbe-nav img{
    max-height: 80px;
  }
  
.nav-item{
    padding-left: 20px;
    color: white;
  }

  .nav-item a{
    color: white;
  }

  .sign-in a {
    background-color: #c7000080;
    border-radius: 40px;
    padding-left: 1em;
    padding-right: 1em;
  }

  .sign-in a:hover {
    background-color: #c70000;
    color: white;
    transition: 500ms;
  }
  

