<nav class="navbar navbar-expand-md navbar-dark sticky-top nsbe-nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/Picture2.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" (click)="scrollToTop()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about">
                            About NSBE<span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                            Photos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                            Conference
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link become" href="#desc-pics">
                            Become a member
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link become" href="#contact-us">
                            Contact Us
                    </a>
                </li>
                <!-- <li class="nav-item sign-in">
                    <a class="nav-link become" href="#upcoming-events">
                        <fa-icon [icon]="faUser"></fa-icon> &nbsp;&nbsp;Sign In
                    </a>
                </li> -->
            </ul>
        </div>
    </div>

</nav>